.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

/* margin-top: -15%; */

}



.left-div {
  position: relative;
  flex: 1;
}

.logo-image {
  position: absolute;
  margin: 10px;
  z-index: 1;
}



.right-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 20px;
  border-radius: 10px;
  height: 58vh;
  background-color: #09496D;
  padding: 20px;
}




.right-div button {
  background-color: #10baac;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.right-div button:hover {
  background-color: #0b7d73;
}


.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}


.right-content {
  text-align: left;
  width: 80%;

}

.contact-heading {
  color: white;
  font-family: FONTSPRING DEMO - Proxima Nova Cond;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;

}

.contact-description {
  color: white;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}