.b_g_footer {
  background: white;
  background-size: cover;
}

.Footer {
  padding: 70px 25px 25px 25px;

  margin: auto;
}

.m_l_120px {
  margin-left: -120px !important;

}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;

  margin-bottom: 5%;
}

.links_title_container {
  display: flex;
  flex-direction: column;

}

.footer_logo_details {
  max-width: 430px;

  min-width: 330px;
  margin: 25px 0;
  text-align: start;
  color: #77838F;
}

.links_title {
  color: #004059;
  font-size: 17.3px;
  font-weight: 500;

  margin-bottom: 25px;
  width: 135.66px;
  height: 21px;
  top: 50px;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}

.links_child {
  margin: 5px 0;
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;

  text-decoration: none;
  transition: color 0.3s;
  color: #1A1A1A;
  top: 95px;
  left: 518.58px;
  font-size: 14px;
  font-weight: 400;
}

.links_child:is(:hover, :focus, :active) {
  color: #6f55ff;
}

/* Tablet Responsiveness (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Footer {
    padding: 40px 15px 15px 15px;
  }

  .m_l_120px {
    margin-left: -60px !important;
  }

  .footer_container {
    gap: 40px;
  }

  .links_title_container {
    min-width: auto;
  }

  .footer_logo_details {
    max-width: auto;
  }

  .links_title {
    width: auto;
  }

  .links_child {
    left: 0;
  }
}