.client-about-section {
    margin-top: 30%;
    padding: 50px;
  }
  
  .card-client-review {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  .head-clientsayabout{
      margin-bottom: 30px;
  }
  
  .txt-clientsayabout {
    font-family: Prompt;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #332929;
  }
  .decsrp-clientsayabout {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    width: 60%;
    color: #332929;
  }
  .client-profile-size {
    height: 60px;
  }
  
  .client-imge-name {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
  }
  .client-profile-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #455a64;
  }
  .card-desc-review {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #64748b;
    padding: 10px
  }

  .Next-previous{
    text-align: center;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }